{% extends "home/home.html" %} {% block content3 %} {% load static %}

<div class="bg d-md-block d-none"></div>

<!-- Search buttons -->
<div class = "row centered">
      <a href="{% url 'search-professor' %}">
        <button
          style="margin:5px;"
          class="btn btn-primary"
          type="button"
        >
          Search by Professor
        </button>
      </a>
  
    <div class="col-md-6">
      <a href="{% url 'search-course' %}"">
        <button 
          style="margin:5px;"
          class="btn btn-primary"
          type="button"
        >
          Search by Course
        </button>
      </a>
    </div>
  
    <div class="col-md-6">
      <a href="{% url 'search-combo' %}">
        <button 
          style="margin:5px;"
          class="btn btn-primary"
          type="button"
        >
          Search by Combo
        </button>
      </a>
  </div>
  
  {% endblock content3 %}