{% extends "base.html" %} {% block content %} {% load static %}


<div class="bg d-md-block d-none"></div>

<!-- <div class="row centered">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div> -->

<!-- Search buttons -->
<div class = "row centered">
  <div class="col-md-6">
    <a href="{% url 'search-professor' %}">
      <button
        style="margin:5px;"
        class="btn btn-primary"
        type="button"
      >
        Search by Professor
      </button>
    </a>
  </div>

  <div class="col-md-6">
    <a href="{% url 'search-course' %}"">
      <button 
        style="margin:5px;"
        class="btn btn-primary"
        type="button"
      >
        Search by Course
      </button>
    </a>
  </div>

  <div class="col-md-6">
    <a href="{% url 'search-combo' %}">
      <button 
        style="margin:5px;"
        class="btn btn-primary"
        type="button"
      >
        Search by Combo
      </button>
    </a>
</div>

{% endblock content %}