{% block search_view %} {% load static %}

<div class="row centered mt-4">
  <div class="col">
    <div class="card">
      <form action="{% url 'loading' %}" method="get">
        <div class="card-body">
          <h5 class="card-title roboto-font text-center">
            Search for Professor, Course or both
          </h5>

          <div class="d-flex align-items-center">
            <img
              src="{% static 'images/search.png'%}"
              class="img-fluid-search"
              alt="graphics"
            />
          </div>

          <div class="container">
            <div class="row no-gutters mt-3 align-items-center">
              <div class="col">
                <input
                  name="search_query"
                  class="form-control border-secondary rounded-pill pr-5"
                  type="search"
                  placeholder="Search"
                  id="example-search-input2"
                />
              </div>
              <div class="col-auto">
                <button class="btn light-button-home ml-n5" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="container roboto-font mt-2 mb-2">Search for:</div>
          <div class="btn-group btn-group-toggle ml-4" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="option" id="professor" value="prof" autocomplete="off" checked> Professor
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="option" id="course" value="course" autocomplete="off"> Course
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="option" id="combined" value="comb" autocomplete="off"> Combination
            </label>
          </div>

            <!-- <div class="d-flex mt-2 mx-3">
              <h5 class="mr-auto mt-1 roboto-font">Professor:</h5>
              <div class="content">
                <label class="switch">
                  <input type="hidden" name="professor" value="0" />
                  <input type="checkbox" name="professor" value="1" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>

          <div class="d-flex mt-2 mx-3">
            <h5 class="mr-auto mt-1 roboto-font">Course:</h5>
            <div class="content">
              <label class="switch">
                <input type="radio" name="course" value="0" />
                <input type="radio" name="course" value="1" />
                <span class="slider round"></span>
              </label>
            </div>
          </div>

          <div class="d-flex mt-2 mx-3">
            <h5 class="mr-auto mt-1 roboto-font">Combination:</h5>
            <div class="content">
              <label class="switch">
                <input type="hidden" name="combined" value="0" />
                <input type="checkbox" name="combined" value="1" />
                <span class="slider round"></span>
              </label>
            </div>
          </div> -->


        </div>
      </form>
    </div>
  </div>
</div>

<!-- Search buttons -->
<!-- <div class = "row centered">
      <a href="{% url 'search-professor' %}">
        <button
          style="margin:5px;"
          class="btn btn-primary"
          type="button"
        >
          Search by Professor
        </button>
      </a>
  
    <div class="col-md-6">
      <a href="{% url 'search-course' %}"">
        <button 
          style="margin:5px;"
          class="btn btn-primary"
          type="button"
        >
          Search by Course
        </button>
      </a>
    </div>
  
    <div class="col-md-6">
      <a href="{% url 'search-combo' %}">
        <button 
          style="margin:5px;"
          class="btn btn-primary"
          type="button"
        >
          Search by Combo
        </button>
      </a>
  </div> -->

{% endblock search_view %}
