{% extends "base.html" %} {% block content %} {% load static %}
{% include "navbar.html" %}
  <!-- Search bar -->
  

  <div class="container">

  <form action = "{% url 'search-professor' %}" class=" top-margin", method = "get">
    <div class="container">
      <div class="row no-gutters mt-3 align-items-center">
        <div class="col">
          <input
            name="search_query"
            class="form-control border-secondary rounded-pill pr-5"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
        </div>
        <div class="col-auto">
          <button class="btn light-button-home ml-n5" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </form>

  <hr/>
  <!-- Printing the status -->
  {% if status == "No query" %} <h4 class="text-center roboto-font" > No search results yet </h4> 
  {% elif status == 0 %} <h4 class="text-center roboto-font" > This professor does not exist. Please enter another professor name. </h4> 
  {% else %} <h4 class="text-center roboto-font" > {{ status }} result(s) found </h4>  {% endif %}
  <hr/>

  <!-- Printing the professor list -->
 

  <div class="row">
    {% for professor in professor_list %}
    <div class="col-sm-4">
      <div class="card mb-4 prof-card">
        <div class="card-body">
          <h5 class="card-title">{{ professor.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ professor.position }}, {{ professor.qualification }}
          </h6>
          <p class="card-text"> {{ professor.dept_name }} </p>
          <a href="{% url 'professor-profile' professor.id %}" class="card-link"> View professor </a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  <!-- Back to home link -->
  <a href="{% url 'app-home' %}"> Back to Home page </a>
</div>

{% endblock content %}