{% extends "base.html" %} {% block content %} {% load static %}

  <!-- Search bar -->
  <form action = "{% url 'search-course' %}" class="form-inline active-purple-3 active-purple-4", method = "get">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input name = "comb_query" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
  </form>

  <div class="col-md-6">
    <a href="#"">
      <button 
        style="margin:5px;"
        class="btn btn-primary float-right"
        type="button"
      >
        Filter stuff hehe
      </button>
    </a>
  </div>

  <!-- Printing the status -->
  {% if status == "No query" %} <h4> No Search Results yet </h4> 
  {% elif status == 0 %} <h4> This course does not exist. Please enter another course name. </h4> 
  {% else %} <h4> {{ status }} result(s) found </h4>  {% endif %}

  <hr/>

  <!-- Printing the combined list -->
  <div class="row">
    {% for item in combined_list %}
    <div class="col-sm-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ item.course_name }} taught by {{ item.prof_name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ item.level }}
          </h6>
          <p class="card-text"> Ratings:<br>Workload - {{ item.ratings.0 }}<br>Learning - {{ item.ratings.1 }}<br>Grading - {{ item.ratings.2 }}</p>
          <a href="{% url 'combo-profile' item.prof_id item.course_name %}" class="card-link"> View course </a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Back to home link -->
  <a href="{% url 'app-home' %}"> Back to Home page </a>

{% endblock content %}