{% extends "base.html" %} {% block content %} {% load static %}

  <!-- filter form -->
  <form action = "{% url 'filter-combo' %}">
    <div class = "row">
      <div class = "col-md-6">
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label> Professor/Course </label>
        <input name = "prof_course_filter" type="text" class="form-control" value = None>
        <small class="form-text text-muted">
          Enter a professor/course name to guide filter results. 
        </small>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label> Course Level </label>
        <select name = "level_filter" class="custom-select">
          <option selected disabled value=""> Choose... </option>
          <option value="UG" > UG </option>
          <option value="G" > G </option>
          <option value="UG/G"> UG/G </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <label> Select the range: </label>
      <input name = "range_filter" type="range" class="custom-range" min="0" max="5" step = "0.5">
    </div>
    <button class="btn btn-primary" type="submit"> Search </button>
  </div>
  </div> 
  </form>

  <!-- Printing the status -->
  {% if status == "No query" %} <h4> No Search Results yet </h4> 
  {% elif status == 0 %} <h4> This particular combination - a professor teaching a particular course - doesn't exist. Please enter another professor/course name. </h4> 
  {% else %} <h4> {{ status }} result(s) found </h4>  {% endif %}

  <hr/>

  <!-- Printing the combined list -->
  <div class="row">
    {% for item in combined_list %}
    <div class="col-sm-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ item.course_name }} taught by {{ item.prof_name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ item.level }}
          </h6>
          {% if item.ratings.0 == -1 %} <p class="card-text"> No ratings yet </p>
          {% else %} <p class="card-text"> Ratings:<br> Workload - {{ item.ratings.0 }}<br>Learning - {{ item.ratings.1 }}<br>Grading - {{ item.ratings.2 }}</p>
          {% endif %}
          <a href="{% url 'combo-profile' item.prof_id item.course_name %}" class="card-link"> View reviews </a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Back to home link -->
  <a href="{% url 'app-home' %}"> Back to Home page </a>

{% endblock content %}