{% extends "base.html" %} {% block content %} {% load static %}
{% include "navbar.html" %}

  <!-- filter form -->
  <div class="container">
    
     
  <form action = "{% url 'filter-combo' %}" class="top-header2" method = "post">
    <div class="d-flex justify-content-between">
 
    {% csrf_token %}
    
    <div class = "container mt-2 mb-2">
      <div class=" mb-3">
        <label class="font-weight-bold"> Professor/Course </label>
        <input name = "prof_course_filter" type="text" class="form-control" placeholder = "Search">
        <small class="form-text text-muted">
          Enter a professor/course name to guide filter results. 
        </small>
      </div>

      <div class="mb-3">
        <label class="font-weight-bold"> Course Level </label>
        <select name = "level_filter" class="custom-select" value="None">
          <option selected disabled value=""> Choose course level </option>
          <option value="UG" > Udergraduate </option>
          <option value="G" > Graduate </option>
          <option value="UG/G"> Udergraduate/Graduate </option>
        </select>
      </div>
      <button class="btn dark-button mt-2" type="submit"> Search </button>
    </div>

      <div class="container mt-2 mb-2">
        <label class="font-weight-bold"> Select appropriate ranges </label>
        <small class="form-text text-muted">
          If you don't want results to be filtered according to any range, please ensure all are zero. If you want to query by only one metric, simply select 0-5 for the other metrics. 
        </small>
        <div class="mt-1"> </div>
        <label class="mb-0"> Worload: </label>
        <div class="row">
          <span class="mr-2 ml-5"> Start: 0 </span>
          <input name = "work_start" class="border-0 w-25 range-height" type="range" min="0" max="5" step="0.5" value="0" />
          <span class=" purple-text ml-2 mt-1"> 5 </span>
          <div class="mr-4"> </div>
          <span class=" purple-text mr-2 mt-1 "> End: 0 </span>
          <input name = "work_end" class="border-0 w-25" type="range" min="0" max="5" step="0.5" value="0" />
          <span class="purple-text ml-2 mt-1"> 5 </span>
        </div>
       
        <label class="mb-0"> Grading: </label>
        <div class="row">
          <span class="purple-text mr-2  ml-5"> Start: 0 </span>
          <input name = "grad_start" class="border-0 w-25" type="range" min="0" max="5" step="0.5" value="0" />
          <span class="purple-text ml-2 mt-1"> 5 </span>
          <div class="mr-4"> </div>
          <span class="purple-text mr-2 mt-1"> End: 0 </span>
          <input name = "grad_end" class="border-0 w-25" type="range" min="0" max="5" step="0.5" value="0" />
          <span class="purple-text ml-2 mt-1"> 5 </span>
        </div>
     
        <label class="mb-0"> Learning: </label>
        <div class="row">
          <span class="purple-text mr-2  ml-5"> Start: 0 </span>
          <input name = "learn_start" class="border-0 w-25" type="range" min="0" max="5" step="0.5" value="0" />
          <span class="purple-text ml-2 mt-1"> 5 </span>
          <div class="mr-4"> </div>
          <span class="purple-text mr-2 mt-1"> End: 0 </span>
          <input name = "learn_end" class="border-0 w-25" type="range" min="0" max="5" step="0.5" value="0" />
          <span class="purple-text ml-2 mt-1"> 5 </span>
        </div>
      </div>

      
  
  </div>
  
  </form>
  <br>

  <hr/>

  <!-- Printing the status -->
  {% if status == "No query" %} <h4 class="text-center roboto-font" > No search results yet </h4> 
  {% elif status == 0 %} <h4 class="text-center roboto-font" > This particular combination - a professor teaching a particular course - doesn't exist. Please enter another combination. </h4> 
  {% else %} <h4 class="text-center roboto-font" > {{ status }} result(s) found </h4>  {% endif %}

  <hr/>

  <!-- Printing the combined list -->
  <div class="row">
    {% for item in combined_list %}
    <div class="col-sm-4">
      <div class="card mb-4 prof-card">
        <div class="card-body">
          <h5 class="card-title">{{ item.course_name }} taught by {{ item.prof_name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ item.level }}
          </h6>
          {% if item.ratings.0 == -1 %} <p class="roboto-font"> No ratings yet </p>
          {% else %} 
          <p class="roboto-font"> Workload - {{ item.ratings.0 }}<br>Learning - {{ item.ratings.1 }}<br>Grading - {{ item.ratings.2 }}</p>
          {% endif %}
          <a href="{% url 'combo-profile' item.prof_id item.course_name %}" class="card-link"> View offering </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Back to home link -->
  <a href="{% url 'app-home' %}"> Back to Home page </a>
</div>
{% endblock content %}